<?xml version="1.0" encoding="Shift_JIS"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/jdbc
     http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
     http://mybatis.org/schema/mybatis-spring
     http://mybatis.org/schema/mybatis-spring.xsd">

	<beans profile="product">
		<context:annotation-config />
		<context:component-scan
			base-package="com.example.customer.*" />
		<context:property-placeholder
			location="classpath:/com/example/customer/config/jdbc.properties" />
		<tx:annotation-driven />

		<bean id="sqlSessionFactory"
			class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="configLocation"
				value="com/example/customer/config/mybatis-config.xml" />
			<!-- Interfaceではなく、XMLのSQLマッピングを利用する場合はコメントを外します。 <property name="mapperLocations"> 
				<list> <value>classpath*:com/example/infrastructure/**/*.xml</value> </list> 
				</property> -->
		</bean>

		<!-- <mybatis:scan base-package="com.example.customer.business.repository" 
			/> -->
		<bean id="customerRepository"
			class="org.mybatis.spring.mapper.MapperFactoryBean">
			<property name="mapperInterface"
				value="com.example.customer.business.repository.CustomerRepository" />
			<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		</bean>

		<bean id="transactionManager"
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
			p:dataSource-ref="dataSource" />

		<bean id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource"
			p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}"
			p:username="${jdbc.username}" p:password="${jdbc.password}" />
	</beans>

	<beans profile="test">
		<jdbc:initialize-database
			data-source="dataSource">
			<jdbc:script location="script/table.sql" />
			<jdbc:script location="script/data.sql" />
		</jdbc:initialize-database>
	</beans>
</beans>